@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-skwd-light-blue: #1414A8;
  --color-skwd-blue: #07073D;
  --color-skwd-dark-blue: #030326;
  --color-skwd-white: #E6E6EB;
  --color-skwd-text-highlight: #FE5F55;
  --color-skwd-button: #D64550;
}

/* Section padding container */
@layer components {
  .section-container {
    @apply w-[90%] max-w-6xl mx-auto px-4;
  }
}

/* Global base styles */
@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-[#030326] text-white;
    font-family: var(--font-barlow), sans-serif;
  }

}

:root {
  --background: #030326;
  --foreground: #E6E6EB;
  --color-primary: #1414A8;
  --color-secondary: #07073D;
}